<a href="https://colab.research.google.com/github/unknownowl007/pythonlearning/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("I love bangladesh!")

I love bangladesh!

## **variables**

In [ ]:
#variables
a = 10
b = 12
name = "Nur"
addres = "Narsingdi"
age = 22
print(a+b)
print(name)
print(addres,age )

22
Nur
Narsingdi 22

### **Data Types**

In [ ]:

#data_types
10 int
3.5 float
string NUR

### **Type Casting**

In [ ]:
# take input from keyboard
firstnum = 10
secondnum = input("Enter a number: ")
print("sum: ",firstnum + int(secondnum)) #we have to clasify input type

Enter a number: 5
sum:  15

## **Operators**:

In [ ]:
arithematic operators : =+ , - , / , * , %
relational operators > , < , >= , <= , == , !=
comparator : > , < , >= , <=
loggical operators : and , or , not
assignment operators

**example of arithematic operators**

In [ ]:
no1 = 10
print("The first number is : ", no1)
no2 = input("Enter second number: ")
print("This is addition : ",no1 + int(no2))
print("This is subtraction : ",no1 - int(no2))
print("This is division : ",no1 / int(no2))
print("This is multiplication : ",no1 * int(no2))

The first number is :  10
Enter second number: 12
This is addition :  22
This is subtraction :  -2
This is division :  0.8333333333333334
This is multiplication :  120

## **Conditional Statements**

In [ ]:
#if condition
if conditon:
    statement

#if else conditon
if condition:
    statement
else:
    statement

#if else if
if condition:
    statement
elif condition:
    statement
else:
    statement

In [ ]:
#examplary code
age = input("Enter your age: ")
if int(age) >= 18:
    print("You are eligible to vote")
else:
    print("You are not eligible to vote")

Enter your age: 22
You are eligible to vote

## **Loop**

In [ ]:
#in normal way
print("1")
print("2")
print("3")
print("4")
print("5")
print("")
print("For loop")
print("")
#looping way
for i in range(1,6):  #range(start,end (should be 1 more than targated number))
    print(i)
    print("")
    print("skiping method")
    print("")
#skiping method
for i in range (1,10,2):  #range(start, end , skip (work like increnment) )
    print(i)

1
2
3
4
5

For loop

1

skiping method

2

skiping method

3

skiping method

4

skiping method

5

skiping method

1
3
5
7
9

In [ ]:
#1+2+3+4+5+..+100= ?

sum = 0
for i in range ( 0, 101):
  sum = sum + i
  print(sum)

0
1
3
6
10
15
21
28
36
45
55
66
78
91
105
120
136
153
171
190
210
231
253
276
300
325
351
378
406
435
465
496
528
561
595
630
666
703
741
780
820
861
903
946
990
1035
1081
1128
1176
1225
1275
1326
1378
1431
1485
1540
1596
1653
1711
1770
1830
1891
1953
2016
2080
2145
2211
2278
2346
2415
2485
2556
2628
2701
2775
2850
2926
3003
3081
3160
3240
3321
3403
3486
3570
3655
3741
3828
3916
4005
4095
4186
4278
4371
4465
4560
4656
4753
4851
4950
5050

In [ ]:
#for odd numbers
sum = 0
for i in range ( 0, 101,):
  if i%2 == 0:
    continue
  else:
    sum = sum + i
  print(sum)

1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361
400
441
484
529
576
625
676
729
784
841
900
961
1024
1089
1156
1225
1296
1369
1444
1521
1600
1681
1764
1849
1936
2025
2116
2209
2304
2401
2500

In [ ]:
#for even numbers
sum = 0
for i in range ( 0, 101,):
  if i%2 != 0:
    continue
  else:
    sum = sum + i
  print(sum)

0
2
6
12
20
30
42
56
72
90
110
132
156
182
210
240
272
306
342
380
420
462
506
552
600
650
702
756
812
870
930
992
1056
1122
1190
1260
1332
1406
1482
1560
1640
1722
1806
1892
1980
2070
2162
2256
2352
2450
2550

In [ ]:
#another way to add even numbers
sum = 0
for i in range (0,101,2):
  sum = sum +i
  print(sum)

0
2
6
12
20
30
42
56
72
90
110
132
156
182
210
240
272
306
342
380
420
462
506
552
600
650
702
756
812
870
930
992
1056
1122
1190
1260
1332
1406
1482
1560
1640
1722
1806
1892
1980
2070
2162
2256
2352
2450
2550

In [ ]:
#another way to add odd numbers
sum = 0
for i in range (1,101,2):
  sum = sum +i
  print(sum)

1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361
400
441
484
529
576
625
676
729
784
841
900
961
1024
1089
1156
1225
1296
1369
1444
1521
1600
1681
1764
1849
1936
2025
2116
2209
2304
2401
2500

while loop

In [ ]:
#while loop
while condition:
  statement

In [ ]:
#example
i = 1
sum = 0
while i<10:
  sum = sum +i
  i = i + 1
  print (sum)

1
3
6
10
15
21
28
36
45

In [ ]:
#for odd
i = 1
sum = 0
while i<10:
  sum = sum +i
  i = i + 2
  print (sum)

1
4
9
16
25

In [ ]:
#for even
i = 0
sum = 0
while i<10:
  #sum = sum +i #can be written as ( sum +=i ) too
  sum +=i
  i = i + 2
  print (sum)

0
2
6
12
20

loop example for lists

In [ ]:
fruits= [ "mango", "banana", "apple", "orange"]
print(fruits[1])    #print(fruits[index of desired subject])
print(fruits)

banana
orange
['mango', 'banana', 'apple', 'orange']

In [ ]:
fruits= [ "mango", "banana", "apple", "orange"]
for fruit in fruits:
  print(fruit)

mango
banana
apple
orange

## **Function/Methods**

In [ ]:
from os import F_TEST
# syntax
# def functionname ():

def AddtwoNum(a,b):
  return a + b
F_TEST = AddtwoNum(3,6)
print(F_TEST)

9

In [ ]:
def subtwonum(a,b):
   return a - b
ftest = subtwonum( 45,23)
print(ftest)

22

## **learning resource**

w3school
udemy